[train] #train parameters
epoch = 2
batch_size = 3

reader_num = 4

optimizer = adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1
shuffle = True

max_len = 512

[eval] #eval parameters
batch_size = 1

reader_num = 1

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = SecondlevelBert
train_formatter_type = SecondlevelBert
#train_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/para/para/train_filtered_data.json
train_data_path = /data1/private/wangshaochun/data/wsc_jiandan.json

valid_dataset_type = SecondlevelBert
valid_formatter_type = SecondlevelBert
#valid_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/para/para/test_filtered_data.json
valid_data_path = /data1/private/wangshaochun/data/wsc_jiandan.json

test_dataset_type = SecondlevelBert
test_formatter_type = SecondlevelBert
#test_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/para/para/test_filtered_data.json
test_data_path = /data1/private/wangshaochun/data/wsc_jiandan.json

label2num = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/label2num.json

[model] #model parameters
model_name = SecondlevelBert

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data1/private/wangshaochun/model
model_name = SecondlevelBert

tensorboard_path = /data1/private/wangshaochun/tensorboard

output_function = out1
output_value = micro_precision,micro_recall,micro_f1,macro_f1

tqdm_ncols = 150